{% extends('layout/base.twig') %}

{% block content %}
  <header>
    <img src="/images/{{ random(['logo-1.png', 'logo-2.png', 'logo-3.png']) }}" alt="" class="logo">
    <div class="col-xs-12">
      <h1>Think it. Print it.</h1>
    </div>
    <!-- <div class="buttons">
      <a href="/login" class="btn btn__invert">Login</a>
      <a href="" class="btn btn__invert">Shop erstellen</a> -->
    <!-- </div> -->

  </header>
  <div class="row">
    {% for shop in shops %}
      <div class="columns medium-6">
        <a href="/shop/{{ shop.name }}" class="subshop--link">
        <div class="subshop" style="background-image: url('{{ shop.image }}');"></div>
        <h2>{{ shop.name }}</h2><br>
          <!-- <span>Jetzt entdecken!</span> -->
        </a>

      </div>
    {% endfor %}
  </div>
{% endblock %}
