{% extends('layout/base.twig') %}

{% block content %}
        <script>const model = '{{ model }}';</script>
        <div class="columns medium-7 no-padding">
            <div id="renderer"></div>
            Breite: <span id="sizeX"></span>cm<br>
            Höhe: <span id="sizeY"></span>cm<br>
            Tiefe: <span id="sizeZ"></span>cm<br>
        </div>
        <div class="columns medium-5 no-padding modelling">
            <div class="sidebar--head">
                <h1>{{ model }}</h1>
                <hr>
                <div class="modelling--subtitle">Preis</div>
                <div class="price-tag">100</div>
            </div>

            <a id="save" class="button">Save</a>
        </div>
{% endblock %}