{% extends('layout/base.twig') %}

{% block content %}
    <header>
        <div class="row">
            <div class="small-12 columns">
                <h1>{{ shop }}</h1>
            </div>
        </div>
    </header>
    <div class="row">
        <input type="text" placeholder="Search" class="search">
    </div>

    <div class="row">
        {% for model in models %}
            <div class="small-6 medium-4 large-3 columns model">
                <a href="/shop/{{ shop }}/{{ model.name }}">
                    <div class="model--image"></div>
                    <h2>{{ model.name }}</h2>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}