{% extends('layout/base.twig') %}

{% block content %}
    <div class="row">
        <h1>Logo</h1>
        <hr>
        <div class="columns small-12" style="background-color: #32306D; padding: 15px;">
            <img src="/images/logo-1.png" alt="">
            <img src="/images/logo-2.png" alt="">
            <img src="/images/logo-3.png" alt="">
        </div>
    </div>
    <div class="row">
        <h1>Headings</h1>
        <hr>
        <div class="columns small-12">
            <h1>H1 Heading</h1>
            <h2>H2 Heading</h2>
            <h3>H3 Heading</h3>
            <h4>H4 Heading</h4>
            <h5>H5 Heading</h5>
            <h6>H6 Heading</h6>
        </div>
    </div>
    <div class="row">
        <h1>Text</h1>
        <hr>
        <div class="column small-12">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
    <div class="row">
        <h1>Buttons</h1>
        <hr>
        <div class="column small-6" style="padding: 15px;">
            <div class="btn">Button</div>
        </div>
        <div class="column small-6" style="background-color: #32306D; padding: 15px;">
            <div class="btn btn__invert">Button</div>
        </div>
    </div>
    <div class="row">
        <h1>Farben</h1>
        <hr>
        <div class="column small-3" style="padding: 15px; height: 200px; background-color: #32306D;">#32306D</div>
        <div class="column small-3" style="padding: 15px; height: 200px; background-color: #fb9987;">#fb9987</div>
    </div>
{% endblock %}