
@include breakpoint($small-only) {
    html, body {
        font-size: 80%;
    }
}

:focus {
  outline: none;
}

a {
    font-weight: normal;
}


.color-primary {
    color: $primary-color;
}

.color-light {
    color: $white;
}

b, strong, .strong {
    font-weight: $global-weight-normal;
}

.small {
    font-size: rem-calc(12);
}

.medium {
    font-size: rem-calc(16);
}

.large {
    font-size: rem-calc(20);
}

h1, h2, h3, h4{
    font-style: italic;
    font-weight: 600;
}
.label{
    position: absolute;
    margin: 0 10px;
    a, a:hover{
        color: white;
    }
}