/* Settings */
@import "base/settings";
@import "vendor/foundation-settings";

/* Foundation */
//@import "normalize";
@import "foundation";

/* Base Definitions */
@import "font-awesome";
@import "base/typography";
@import "base/colors";

/* Mixins/Utilites */
@import "cl-frontend-utils/mixins/images";
@import "cl-frontend-utils/components/helpers";
@import "cl-frontend-utils/layout/utilities";
@import "cl-frontend-utils/layout/sections";
@import "cl-frontend-utils/layout/positioning";

/* Vendor */
@import "vendor/swiper";

/* Layouts */
@import "layout/sections";
@import "layout/site";
@import "layout/header";
@import "layout/footer";
@import "layout/sidebar";

/* Pages */
@import "pages/home";
//@import "pages/programm";

/* Components */
@import "components/component";
@import "components/gui";
@import "components/renderer";
@import "components/buttons";
