/* Settings */
@import "base/settings";
@import "vendor/foundation-settings";


/* Foundation */
@import "foundation";
@include foundation-everything;
@include table();

/* Base Definitions */
@import "font-awesome";
@import "base/typography";
@import "base/colors";

/* Mixins/Utilites */
@import "cl-frontend-utils/mixins/images";
@import "cl-frontend-utils/components/helpers";
@import "cl-frontend-utils/layout/utilities";
@import "cl-frontend-utils/layout/sections";
@import "cl-frontend-utils/layout/positioning";

@import "utils/helper";
/* Vendor */
//@import "vendor/swiper";

/* Layouts */
@import "layout/sections";
@import "layout/site";
@import "layout/header";
@import "layout/footer";
@import "layout/sidebar";

/* Pages */
@import "pages/home";
@import "pages/subshop";
@import "pages/modelling";


/* Components */
@import "components/gui";
@import "components/renderer";
@import "components/buttons";
@import "components/search";
@import "components/inputs";
@import "components/steps";
@import "components/table";
@import "components/embeddings";
@import "components/lists";
@import "components/icons";
