<!DOCTYPE html>
<html>
<head>
    <title>ES6 Test</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>

<div class="container {% block classes %}{% endblock %}">
    {% block content %}
    {% endblock %}
</div>

    <script type="text/javascript" src="/js/bundle.js"></script>

</body>
</html>