.subshop {
  position: relative;
  text-transform: uppercase;
  margin: 0 20px;
  background-color: rgb(50, 48, 109);
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  float: left;
  margin-bottom: 20px;
  &--link {
    color: #fff;
    h2{
      font-weight: 200;
      margin-bottom: 10px;
    }
    span{
      padding-bottom: 6px;
      border-bottom: 2px solid #fb9987;
      font-weight: 600;
    }
  }
}

.model{
  &:hover {

  }
  &--image {
    display: block;
    background: #eef1f8;
    height: 50vw;
    max-height: 210px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    @include breakpoint($medium-up) {
      height: 33vw;
    }
    @include breakpoint($large-up) {
      height: 25vw;
    }
  }
  h2{
    color: #333;
    font-size: 18px;
    text-transform: uppercase;
  }
}
