.subshop {
  background-color: $color--lila;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  margin-bottom: 20px;
  position: relative;
  text-transform: uppercase;

  &--link {
    color: #000;

    h2 {
      font-weight: 200;
      margin-bottom: 10px;
    }

    span {
      border-bottom: 2px solid $color--orange;
      font-weight: 600;
      padding-bottom: 6px;
    }
  }

  &--logo {
    left: 50%;
    max-height: 300px;
    max-width: 300px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
  }

  &--feat-logo{
    bottom: 20px;
    color: #fff;
    height: 20px;
    line-height: 0;
    position: absolute;
    right: 20px;
    width: auto;
    z-index: 2;

    img {
      height: 20px;
    }
  }
}

.model{
  &:hover {

  }
  &--image {
    background: #eef1f8;
    background-position: center center;
    background-size: cover;
    display: block;
    height: 300px;
    width: 100%;
  }
  h2{
    color: #333;
    font-size: 18px;
    text-transform: uppercase;
  }
}
