#save {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
  height: 60px;
}

.btn{
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  color: #000;
  padding: 10px 20px;
  font-weight: 600;
  text-align: center;
  &__invert{
    border-color: #fff;
    color: #fff;
  }
}