.embedding--list {
  list-style: none;
  li{
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
    background: grey;

  }
}

.embedded{
  &--edit{
    position: absolute;
    display: none;

  }
  &--option{
    color: white;
    background: #fb9987;
    height: 40px;
    padding: 10px;
    min-width: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: width 2s;
  }
  &--move{
    right: 30px;
  }
  &--delete{
    bottom: 20px;
    right: -20px;
  }
  &--rotate{
    bottom: -100px;
    right: -20px;
  }
  &--scale{
    left: 30px;
    &--input{
      display: none;
    }
  }
}
