#renderer {
  width: 100%;
  height: 100%;
  height: 100vh;
  background-image: linear-gradient(0deg, #F7F7F7 0%, #F0F0F0 100%);
  position: relative;
  .renderer--expand {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }

  .renderer--back {
    color: #000;
    cursor: pointer;
    left: 20px;
    position: absolute;
    top: 20px;
  }

  &.expanded {
    position:fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
  }
}
