.settings {
  margin-left: -35px;
  margin-right: -35px;
  border: 0;
  .accordion-title {
    padding: 1.25rem 35px;
    text-transform: uppercase;
    color: #474657;
    font-weight: 600;
    &:before{
      font-size: 18px;
      margin-top: -1rem;
    }
    .step {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #fb9987;
      display: inline-block;
      color: white;
      padding: 10px 12px;
      margin-right: 10px;
    }
  }
  .accordion-item {
    &:first-child {
      border-top: 1px;
    }
    &:last-child {
      border-top: 1px;
    }
  }
  .accordion-content{
    padding: 10px 35px;
    overflow: hidden;
    .size {
      width: 20%;
      display: inline-block;
      position: relative;
      margin-right: 22px;
      &:not(:last-child):after{
        content: 'X';
        display: inline-block;
        position: absolute;
        left: 100%;
        top: 50%;
        margin-top: -2px;
        margin-left: 10px;
      }
      &__config{
        width: 45%;
        float: left;
        &:after{
          content:'';
        }
      }
    }
  }
}