header {
  background-image: url('../images/header.png');
  background-position: center center;
  background-size: cover;
  height: 500px;
  height: 80vh;
  margin-bottom: 20px;
  position: relative;
  text-align: center;

  .buttons {
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 2;
  }

  h1 {
    //background-color: rgba(white,.4);
    border: 3px solid #fff;
    color: #fff;
    left: 50%;
    padding: 15px 100px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  &:after{
    background: rgba($color--lila, .6);
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}
