.sidebar{
  &--head{
    height: 100px;
    width: 100%;
    padding: 15px;
    h1{
      font-size: 30px;
      color: #333;
      text-transform: uppercase;
    }
    hr{
      width: 40px;
      margin: 10px 0;
    }

  }
}

