.sidebar{
  padding: 15px;
  &--head{
    width: 100%;
    h1{
      font-size: 30px;
      color: #333;
      text-transform: uppercase;
      font-weight: 200;
    }
    hr{
      width: 40px;
      margin: 10px 0;
    }

  }
}

